{{ 'announcement-bar.css' | asset_url | stylesheet_tag }}

<div class="{{ section.settings.bg-color }}">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div class="w-50">
                {% if section.settings.show_social_media == true %}
                    <div class="social-icons">
                        {% render 'social-links' %}
                    </div>
                {% endif %}
            </div>
            <div class="text-center w-100">
                {% for block in section.blocks %}
                    <p class="d-inline-block">{{ block.settings.text }}</p>
                {% endfor %}
            </div>
            <div class="w-50 d-flex justify-content-end">
                {% if section.settings.show_currency_selector == true %}
                  <select id="currency-switcher">
                    <option value="USD">USD</option>
                    <option value="EUR">EUR</option>
                    <option value="GBP">GBP</option>
                  </select>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% schema %}
{
  "name": "Announcement bar",
  "tag": "div",
  "settings": [
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "select",
      "id": "bg-color",
      "label": "Background color",
      "options": [
        {
          "value": "bg-body",
          "label": "Body"
        },
        {
          "value": "bg-primary text-primary",
          "label": "Primary"
        },
        {
          "value": "bg-secondary text-secondary",
          "label": "Secondary"
        },
        {
          "value": "bg-tertiary text-tertiary",
          "label": "Tertiary"
        }
      ]
    },
    {
      "type": "color",
        "id": "bg-color",
        "label": "Custom background color"
    },
    {
      "type": "color",
        "id": "text-color",
        "label": "Custom ext color"
    },
    {
      "type": "header",
      "content": "Social media"
    },
    {
      "type": "checkbox",
      "id": "show_social_media",
      "label": "Enable social media",
      "default": true
    },
    {
      "type": "header",
      "content": "Currency selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "show_currency_selector",
      "label": "Enable currency selector",
      "default": true
    }
  ],
  "max_blocks": 5,
  "blocks": [
    {
      "type": "message",
      "name": "Message",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Announce something here"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link"
        }
      ]
    }
  ]
}
{% endschema %}