.header{
    &.header-1{

    }
    &.header-2{

    }
    &.header-3{

    }
    &.header-4{

    }
  .main-header{
    position: relative;
  }
  .header__menu{
   display: flex;
    .main-menu{
      &:first-child{
        margin-right: 10px;
      }
      &:last-child{
        margin-left: 10px;
      }
      &>li{
        margin-left: 20px;
        position: static;
        &:first-child{
          margin-left: 0;
        }
      }
      .main-menu-link{
        .dropdown-menu {
          transition: all .3s ease-in-out;
          box-shadow: 0 0.5rem 1rem rgb(237 237 237);
          top: 120%;
          display: block;
          pointer-events: none;
          visibility: hidden;
          opacity: 0;
          position: absolute;

          &:before {
            content: "";
            position: absolute;
            height: 2px;
            bottom: 100%;
            left: 0;
            right: 0;
          }
        }
        &:hover {
          > .dropdown-menu {
            top: 100%;
            pointer-events: all;
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }

  }
  .header__search-toggle{

  }
}